@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    background: linear-gradient(white);
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.header {
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 20px;
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.login-page-new__top-right-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #292d34;
  margin-right: 20px;
}

.card-container {
  width: 100%;
  display: flex;
}

.main-card {
  width: 50%;
  margin: 35px 100px;
}

.card {
  margin: 20px 20px;
  border: 1.5px solid #2a2e34;
  border-radius: 10px;
}

.card-text {
  text-align: center;
  font-weight: 700;
}

/* Mobile responsive */
@media screen and (min-width: 768px) {
  .main-card {
    width: 50%;
    margin: 20px;
  }
}

.loading-spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loading-spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
